#hero-section{
    position: relative;
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1600px;
    height: 760px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.hero-circle{
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;

}